.flat {
    &:hover{
        .flat-path {
            stroke: #35aa0e;
            fill: rgba(75, 225, 29, 0.6);
        }
    }
    &.active{
        .flat-path{
            fill: #46ff435f;
            stroke: #05FF00;
        }
    }

    &-path {
        fill: #fff0;
        stroke-width: 5px;
    }
  

}




.flat-status-path{
    fill:white;
    stroke:black; 
    stroke-width:2px;
}

.flat-status-cell__path{
    fill:#80D34E;
    stroke:black;
    stroke-width: 2px;
}

.flat-status-cell__text{
    fill: #000;
    font-weight: 600;
}

.floor-options {
    @extend .container;
    display: flex;
    gap: 25px;
    padding: 24px;
    margin: 12px auto;
    border: 1px solid;
    border-radius: 12px;
    background-color: $primary-accetn-color;
    color: #fff;
}


.floor-option-item {
    max-width: 155px;
    width: 100%;
    text-align: center;
    background-color: $background-accent;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}