///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #121212;
$primary-accetn-color: #222222;
$secondary-color: rgb(242, 168, 78);
$background-accent: #433a3a;