<div class="floor-options">
    <div class="floor-option-item">
        <div>Номер будинку:</div>
        <div>7</div>
    </div>
    <div class="floor-option-item">
        <div>Поверх:</div>
        <div>2</div>
    </div>
    <div class="floor-option-item">
        <div>Номер квартири:</div>
        <div>3</div>
    </div>
    <div class="floor-option-item">
        <div>Кіл-ть кімнат:</div>
        <div>3</div>
    </div>
    <div class="floor-option-item">
        <div>Площа квартири:</div>
        <div>79,3 м²</div>
    </div>
    <div class="floor-option-item">
        <div>Ціна за м²:</div>
        <div>1900$</div>
    </div>
    <div class="floor-option-item">
        <div>Ціна за квартиру:</div>
        <div>150670$</div>
    </div>
    <div class="floor-option-item">
        <div>Статус квартири:</div>
        <div>Продана</div>
    </div>
</div>